<div class="container" style="margin-top: 80px;">
      <div class="row justify-content-center">
        <div class="col-md-6 col-md-offset-3" style="text-align:center;">
            
           <h3><strong>
              @{{# each session}}
                {{name}}
    {{/each}}</strong>,
    {{title}}</h3>
  
  {{#if error}}<div class="alert alert-danger">{{error}}</div>{{/if}}

{{#if success}}<div class="alert alert-success">{{success}}</div>{{/if}}

<form action="/personal" method="post">
    
    <input type="text"  class="form-control text-center" name="phone" placeholder="Phone" required><br />
    <input type="text"  class="form-control text-center" name="address" placeholder="Address" required><br />
    <input type="text"  class="form-control text-center" name="state" placeholder="State" required><br />
    <input type="text"  class="form-control text-center" name="city" placeholder="City" required><br />
    <input type="text"  class="form-control text-center" name="code" placeholder="Pin Code" required><br />

    <button type="submit" class="btn btn-success"> Submit</button><br />

</form>
{{#each account}}
{{name}}
{{/each}}


</div>
</div>
</div>